workflows/data-backup-pipeline.json
{
  "name": "Data Backup Pipeline",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "trigger-1",
      "name": "Every 6 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT table_name FROM information_schema.tables WHERE table_schema = 'public' AND table_type = 'BASE TABLE' ORDER BY table_name;",
        "additionalFields": {}
      },
      "id": "node-1",
      "name": "List Database Tables",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        440,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-cred",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const tables = $input.all().map(item => item.json.table_name);\nconst timestamp = new Date().toISOString().replace(/[:.]/g, '-');\nconst backupId = `backup-${timestamp}`;\n\nconst exports = [];\nfor (const table of tables) {\n  exports.push({\n    json: {\n      table,\n      backupId,\n      timestamp,\n      query: `COPY (SELECT * FROM ${table}) TO STDOUT WITH (FORMAT csv, HEADER true)`\n    }\n  });\n}\n\nreturn exports;"
      },
      "id": "node-2",
      "name": "Prepare Export Queries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "additionalFields": {}
      },
      "id": "node-3",
      "name": "Export Table Data",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        880,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-cred",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst csvData = items.map(item => {\n  const rows = item.json;\n  return {\n    json: {\n      table: $('Prepare Export Queries').item.json.table,\n      backupId: $('Prepare Export Queries').item.json.backupId,\n      data: JSON.stringify(rows),\n      rowCount: Array.isArray(rows) ? rows.length : 1,\n      sizeBytes: JSON.stringify(rows).length\n    }\n  };\n});\nreturn csvData;"
      },
      "id": "node-4",
      "name": "Format Backup Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        300
      ]
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "={{ $env.STORAGE_BUCKET || 'backups' }}",
        "fileName": "={{ $json.backupId }}/{{ $json.table }}.json",
        "fileContent": "={{ $json.data }}"
      },
      "id": "node-5",
      "name": "Upload to S3",
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        1320,
        200
      ],
      "credentials": {
        "s3": {
          "id": "s3-cred",
          "name": "AWS S3"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": "={{ $env.NOTION_BACKUP_DB }}",
        "properties": {
          "Backup_ID": {
            "title": [
              {
                "text": {
                  "content": "={{ $json.backupId }}"
                }
              }
            ]
          },
          "Table": {
            "rich_text": [
              {
                "text": {
                  "content": "={{ $json.table }}"
                }
              }
            ]
          },
          "Rows": {
            "number": "={{ $json.rowCount }}"
          },
          "Size_Bytes": {
            "number": "={{ $json.sizeBytes }}"
          },
          "Status": {
            "select": {
              "name": "Completed"
            }
          }
        }
      },
      "id": "node-6",
      "name": "Log to Database",
      "type": "n8n-nodes-base.supabaseTrigger",
      "typeVersion": 1,
      "position": [
        1320,
        400
      ],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-cred",
          "name": "Supabase"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst backupId = items[0]?.json?.backupId || 'unknown';\nconst tables = items.map(i => i.json.table);\nconst totalRows = items.reduce((sum, i) => sum + (i.json.rowCount || 0), 0);\nconst totalSize = items.reduce((sum, i) => sum + (i.json.sizeBytes || 0), 0);\nconst sizeMB = (totalSize / 1024 / 1024).toFixed(2);\n\nreturn [{\n  json: {\n    backupId,\n    tablesCount: tables.length,\n    tables: tables.join(', '),\n    totalRows,\n    totalSizeMB: sizeMB,\n    completedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "node-7",
      "name": "Build Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "method": "POST",
        "body": "json",
        "jsonBody": "={\n  \"text\": \"Database Backup Complete\",\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": { \"type\": \"plain_text\", \"text\": \"Database Backup Complete\" }\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        { \"type\": \"mrkdwn\", \"text\": \"*Backup ID:*\\n{{ $json.backupId }}\" },\n        { \"type\": \"mrkdwn\", \"text\": \"*Tables:*\\n{{ $json.tablesCount }}\" },\n        { \"type\": \"mrkdwn\", \"text\": \"*Total Rows:*\\n{{ $json.totalRows.toLocaleString() }}\" },\n        { \"type\": \"mrkdwn\", \"text\": \"*Size:*\\n{{ $json.totalSizeMB }} MB\" }\n      ]\n    },\n    {\n      \"type\": \"context\",\n      \"elements\": [\n        { \"type\": \"mrkdwn\", \"text\": \"Completed at {{ $json.completedAt }}\" }\n      ]\n    }\n  ]\n}"
      },
      "id": "node-8",
      "name": "Slack Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const backupId = $json.backupId;\nconst cutoffDate = new Date();\ncutoffDate.setDate(cutoffDate.getDate() - 30);\n\nreturn [{\n  json: {\n    backupId,\n    retentionDays: 30,\n    cleanupBefore: cutoffDate.toISOString(),\n    prefix: 'backup-'\n  }\n}];"
      },
      "id": "node-9",
      "name": "Calculate Retention",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        400
      ]
    }
  ],
  "connections": {
    "Every 6 Hours": {
      "main": [
        [
          {
            "node": "List Database Tables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Database Tables": {
      "main": [
        [
          {
            "node": "Prepare Export Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Export Queries": {
      "main": [
        [
          {
            "node": "Export Table Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Export Table Data": {
      "main": [
        [
          {
            "node": "Format Backup Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Backup Data": {
      "main": [
        [
          {
            "node": "Upload to S3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to S3": {
      "main": [
        [
          {
            "node": "Build Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Summary": {
      "main": [
        [
          {
            "node": "Slack Notification",
            "type": "main",
            "index": 0
          },
          {
            "node": "Calculate Retention",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "backup",
      "id": "tag-backup"
    },
    {
      "name": "database",
      "id": "tag-database"
    },
    {
      "name": "automation",
      "id": "tag-automation"
    },
    {
      "name": "s3",
      "id": "tag-s3"
    }
  ]
}
