workflows/lead-enrichment.json
{
  "name": "Lead Enrichment Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-enrichment",
        "responseMode": "responseNode"
      },
      "id": "webhook-1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.email}}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{$json.company_domain}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "validate-1",
      "name": "Validate Input",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "url": "=https://api.clearbit.com/v2/companies/find?domain={{$json.company_domain}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "clearbitApi",
        "options": {
          "timeout": 10000
        }
      },
      "id": "enrich-1",
      "name": "Clearbit Enrichment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        650,
        250
      ]
    },
    {
      "parameters": {
        "url": "=https://api.hunter.io/v2/email-finder?domain={{$json.company_domain}}&first_name={{$json.first_name}}&last_name={{$json.last_name}}&api_key={{$credentials.hunterApi}}",
        "options": {}
      },
      "id": "hunter-1",
      "name": "Hunter.io Verify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        650,
        450
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [
            {
              "field1": "email",
              "field2": "email"
            }
          ]
        },
        "options": {}
      },
      "id": "merge-1",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "model": "gpt-4-turbo-preview",
        "messages": {
          "values": [
            {
              "content": "=You are a lead qualification expert. Score this lead 0-100 based on ICP fit.\n\nLead: {{$json.email}}\nCompany: {{$json.company_name}}\nIndustry: {{$json.industry}}\nEmployees: {{$json.employee_count}}\nRevenue: {{$json.estimated_revenue}}\nTechnology: {{$json.tech_stack}}\n\nReturn JSON: {\"score\": number, \"tier\": \"HOT\"|\"WARM\"|\"COLD\", \"reasoning\": string}"
            }
          ]
        },
        "options": {
          "temperature": 0.1,
          "maxTokens": 500
        }
      },
      "id": "openai-1",
      "name": "AI Qualification",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.3,
      "position": [
        1050,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const aiResponse = JSON.parse($input.first().json.message.content);\nconst enrichment = $('Merge Results').first().json;\n\nreturn [{\n  json: {\n    email: enrichment.email,\n    company: enrichment.company_name,\n    industry: enrichment.industry,\n    employees: enrichment.employee_count,\n    score: aiResponse.score,\n    tier: aiResponse.tier,\n    reasoning: aiResponse.reasoning,\n    enriched_at: new Date().toISOString(),\n    source: 'lead-enrichment-pipeline'\n  }\n}];"
      },
      "id": "code-1",
      "name": "Format Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1250,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.score}}",
              "operation": "largerEqual",
              "value2": 80
            }
          ]
        }
      },
      "id": "router-1",
      "name": "Score Router",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1450,
        300
      ]
    },
    {
      "parameters": {
        "channel": "#sales-leads",
        "text": "=:fire: *Hot Lead Alert*\n\n*Company:* {{$json.company}}\n*Email:* {{$json.email}}\n*Score:* {{$json.score}}/100 ({{$json.tier}})\n*Industry:* {{$json.industry}}\n*Employees:* {{$json.employees}}\n\n_{{$json.reasoning}}_",
        "otherOptions": {}
      },
      "id": "slack-1",
      "name": "Slack Hot Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        1650,
        200
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "objectType": "contacts",
        "properties": {
          "email": "={{$json.email}}",
          "company": "={{$json.company}}",
          "lead_score": "={{$json.score}}",
          "lead_status": "={{$json.tier}}",
          "industry": "={{$json.industry}}",
          "notes": "={{$json.reasoning}}"
        }
      },
      "id": "hubspot-1",
      "name": "Update HubSpot",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [
        1650,
        400
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}"
      },
      "id": "respond-1",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1850,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"error\": \"Missing required fields: email and company_domain\"}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "error-1",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        650,
        550
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Clearbit Enrichment",
            "type": "main",
            "index": 0
          },
          {
            "node": "Hunter.io Verify",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clearbit Enrichment": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hunter.io Verify": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "AI Qualification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Qualification": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Output": {
      "main": [
        [
          {
            "node": "Score Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score Router": {
      "main": [
        [
          {
            "node": "Slack Hot Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update HubSpot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Hot Alert": {
      "main": [
        [
          {
            "node": "Update HubSpot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update HubSpot": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateId": "lead-enrichment-v1"
  }
}
